# ==========================================
# Zenith Radar OS - Master .gitignore
# ==========================================

# --- 1. Vivado Build Artifacts ---
*.jou
*.log
*.str
*.pb
.Xil/
**/*.runs/
**/*.cache/
**/*.hw/
**/*.ip_user_files/
**/*.sim/
**/*.gen/
ip_upgrade.log

# Keep these hardware source files
!*.xpr
!*.xdc
!*.tcl
!*.bd

# --- 2. Hardware Outputs ---
*.xsa
*.bit
*.bin
*.ltx

# --- 3. PetaLinux ---
zenith-petalinux/build/
zenith-petalinux/images/
zenith-petalinux/components/
zenith-petalinux/.petalinux/
zenith-petalinux/orig_bin/

# --- 4. Vitis HLS ---
*/solution*/
*/.autopilot/
*/csim.log
*_hls.log

# Keep HLS synthesis reports
!*/syn/report/*.rpt

# --- 5. C++ & Software Build ---
*/build/
**/*.o
**/*.elf
**/*.a
CMakeCache.txt
CMakeFiles/

# --- 6. MATLAB ---
*.asv
*.m~

# --- 7. System & Editors ---
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/
__pycache__/